
<%=image_tag @user.profile_photo.medium if @user.profile_photo.medium.present? %>
<h1><%=@user.username%></h1>
<%= link_to 'Edit your profile', edit_user_path(current_user) if @user == current_user %>
<%= link_to @user.website %> </br>
<%= @user.about %> </br>

<% @posts.each do |post|%>
<a href="/posts/<%=post.id%>"><%= image_tag post.post_photo.medium%></a>
<%= post.description %>
$<%= post.price.round(2) %>0</br>
<%end%>
