<!DOCTYPE html>
<html>
    <head>
        <title>ShopMe</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>


    <body>
        <div id="container">
            <div id="user_header">
                <% if current_user %>
                Signed in as
                <%= current_user.username %> </br>
                <%= link_to "Logout", logout_path,  method: :delete  %> </br>
                <%= link_to "Post Something", new_post_path %>
                <%= link_to "Shop Around", posts_path %>
                <% else %>
                <%= link_to 'Login', login_path %>
                <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
                <%= link_to 'Signup', new_user_path %>
                <% end %>
            </div>
            <% if flash[:notice] %>
            <p id="notice"><%= flash[:notice] %></p>
            <% end %>
        </div>
        <%= yield %>
    </body>
</html>
